[Desktop Entry]
Name=AINative Studio
Comment=AI-native code editor
GenericName=Text Editor
Exec=ainative-studio %F
Icon=com.ainativestudio.code
Type=Application
StartupNotify=true
StartupWMClass=void
Categories=Development;IDE;TextEditor;
MimeType=text/plain;inode/directory;application/x-ainativestudio-workspace;
Actions=new-empty-window
Keywords=ainative;studio;ide;code;editor;

[Desktop Action new-empty-window]
Name=New Empty Window
Exec=ainative-studio --new-window %F
Icon=com.ainativestudio.code
